.spin-container{
  width:100%;
  text-align: center;
  justify-content: center;
  margin: 50px auto;
}

.stat-dropdown-container {
    width: 20%;
    text-align: left;
  }
  
.stat-dropdown-label {
    color: black;
    font-size: 16px;
  }

.nav-container{
    margin: 20px 0 20px 0;
}

.nav-item{
    width:50%;
}